/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); */

:root {
    --primary-color: #0f4d5c85 ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Oleo Script Swash Caps, cursive;
    color: #001219;
    line-height: 1.6;
    background-color: #0f4c5c;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #001219;
}
h1,h2 {
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 5px;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* navbar */
.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 12px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 3px #0a9396 solid;
    /* background-color: #0a9396; */
}

.navbar a.active {
    border-bottom: 3px #0a9396 solid;
}

.navbar ul li {
    font-size: 17px;
    padding: 10px;
}

.navbar {
    background-color: var(--primary-color) ;
    color: white;
    height: 60px;
}

/* showcase */
.showcase {
    height: 350px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}
.showcase-text p {
    font-family: Dancing Script, cursive;
    font-size: 20px;
}
.showcase h1 {
    font-size: 40px;
}
.showcase p {
    margin: 25px 0;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45% ;
    gap: 30px;
}


/* utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 30px;
}
.container .logo {
    font-family: Dancing Script, cursive;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}


.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.btn-outline {
    background-color: transparent;
    border: 1px white solid;
}

.btn:hover {
    transform: scale(0.98);
    border-color: #e9edc9;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* images */
.lobby img{
    width: 100%;
    height: 80vh;
    margin: 0;
}

.lobby h1 {
    color: #fff;
}

.suite img {
    height: 14em;
    width: 30%;
    margin: 1.3%;
}

.suite h1 {
    color: #fff;
    font-size: 2rem;
}

.places img {
    height: 14em;
    width: 30%;
    margin: 1.3%;
   
}
.places h1 {
    color: #fff;
    
}

.places ul {
    list-style: none;
    display: flex;
    
}

.places ul li {
    color: white;
    font-size: 25px;
    margin: 0 auto;
}

/* footer */
.footer-height {
    height: 40vh;
    background-color: #000000b9;
}

.footer-style {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem;
}

.footer-style p:nth-of-type(odd) {
    font-size: 20px;
}
.footer-style p:nth-of-type(even) {
    font-size: 10px;
}